<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zitherharp.zhmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:installLocation="preferExternal"
        android:theme="@style/Theme.Zhmusic">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TabbberActivity"
            android:label="@string/title_activity_tabbber"/>
        <activity
            android:name=".ui.activity.PlayerActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.SigninActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="About this app"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.SheetActivity"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Zhmusic.NoActionBar">
        </activity>

        <provider
            android:authorities="com.zitherharp.zhmusic.provider"
            android:name=".provider.LibraryProvider"
            android:exported="false" />
    </application>

</manifest>